div.section
{
	margin-bottom: 1em;
	min-height: 3em;
	padding: 0.5em;
}

div.section:last-child
{
	margin-bottom: 0px;
}

div.section div.title
{
	border-top: none;
	border-left: none;
	border-right: none;
	margin: -0.5em -0.5em 0.5em;
	padding: 2px 0.5em;
}
